@charset "utf-8";
/* CSS Document */
*{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0px;
}
body{
	background-color: #f2f2f2;
}

/* -------------HEADER------------- */
header{
	height: 600px;
	background:url("images/Menzel_Bourguiba_-_Centre-ville.jpg") no-repeat;
	background-size: cover;
	background-position:center;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-name: anim1;
	animation-direction:alternate;
}
@keyframes anim1{
	0%{
		background:url("images/Menzel_Bourguiba_-_Centre-ville.jpg") no-repeat;
		background-size: cover;
		background-position:center;	}
	45%{
		background:url("images/Menzel_Bourguiba_-_Centre-ville.jpg") no-repeat;
		background-size: cover;
		background-position:center;	}
	50%{
		background:url("images/386_001.jpg") no-repeat;
		background-size: cover;
		background-position: 100% 70%;
	}
	100%{
		background:url("images/386_001.jpg") no-repeat;
		background-size: cover;
		background-position: 100% 70%;
	}
}
#hd{
	background:#333;
	padding: 20px;
}
header ul{
	list-style: none;
	display: inline-block;
	float: right;
}

header ul li {
	margin-top: 10px;
	display: inline-block;
	margin-right: 20px;

}
header ul li a {
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

header ul li a:hover{
	transition-duration: 0.3s;
	transition-property: all;
}


header ul li ::after{
  	content: '';
  	width: 0;
  	height: 4px;
  	background-color: red;
	display: block;
  	transition: 0.3s;
}
header ul li:hover ::after{
  	width: 100%;
	transition-timing-function: ease-in;
	
}

header li:hover{
	transform: translateY(-2px);
  	transition-duration: 0.3s;
}

/* ---------------BODY---------------*/
section{
	background: white;
	margin: 20px;
	padding: 20px;
	background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table{
	margin-left: 250px;
	margin-top: 50px;
	margin-bottom: 50px;
}

table a{
	text-decoration: none;
	color: #000A25;
	font-weight: bolder;
	float: right;
	margin-right: 20px;
	font-size: 18px;
}

.container:hover a{
	color: red;
	transition-property: all;
	transition-duration: 0.5s;
}

.flech{
	transform: rotate(-40deg);
}

.container:hover .flech{
	transform: rotate(0);
	transition-duration: 0.5s;
}



/*--------------footer--------------*/
footer{
	background-color: #333;
	color: white;
	text-align: center;
	margin-top: 150px;
}

footer h3{
	padding: 10px;
	font-size: 15px;
	margin-right: 65px;
}


footer h1 {
	text-align: left;
	margin-left: 20px;
	padding-top: 20px;
}

#contact{
	margin-bottom: 10px;
	padding-top: 20px;
	transform: translateX(-140px)
}
footer h4{
	display: inline-block;
	margin-right: 100px;
	font-size: 20px;
}

footer a {
	color: white;
}


footer img:hover{
	transform: translateY(-5px) scale(1.1);
	transition-duration: 0.5s;
	
}
footer a:hover{
	color: red;
	transition-duration: 0.5s;
}





#samb{
	margin-left: 500px;
}


















/*BLUE 
#000A25
*/